<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover Password</title>
</head>
<body>
<form th:action="@{/recover_password}" method="post" th:if="${err == null}">
    <label for="new_password">New Password</label>
    <input type="hidden" th:value="${user.getId()}" name="id">
    <input type="password" name="password" id="new_password">
    <input type="submit">
</form>

<div th:if="${err != null}">
    <div class="error-msg" th:text="${err}">

    </div>
</div>
</body>
</html>